<body class="user_login_form">
<h1>Users#user_login_form</h1>

<!--
<% if session[:user_id] %>
       ログインしている場合の処理

      <% else %>

 -->




 

<div class="login">
  

  <div class="login-triangle"></div>
  
  <h2 class="login-header">店舗ログイン</h2>

  <div class="login-container">
    <% if @error_message %>
      <p class="user_login_form_error"><%= @error_message %></p>
    <% end %>

    <%= form_tag("/user_login") do %>
      <p><input name="userid" placeholder="店舗ID" value="<%= @userid %>"></p>
      <p><input type="password" name="pass" placeholder="パスワード"></p>
      <p><input type="submit" value="ログイン"></p>
    <% end %>
    <a href="/recruit">新規登録はこちら</a>
  </div>
    


</div>




<!--

<% end %>

 -->



  </body>
        
        