<div class="contentsAd">
	<!-- <a href="/"><img class="contentsAd__item item--sp" src="/assets/banner_center.jpg" alt=""></a> -->
    <a href="/recruit"><img class="contentsAd__item item--sp" src="/assets/slide_show3(40).png" alt=""></a>
    <a href="https://www.kenko-mahjong-mate.com?utm_source=mahjong-search&utm_medium=banner" target="_blank"><img class="contentsAd__item item--sp" src="/assets/ad_mate.png" alt=""></a>
    
    <a href=""><img class="contentsAd__item item--pc" style="border-radius: 20px;" src="/assets/banner_pc_top.jpg" alt=""></a>    
    <a href="/recruit"><img class="contentsAd__item item--pc" style="border-radius: 20px;" src="/assets/banner_pc_center.jpg" alt=""></a>
    <a href="/adv"><img class="contentsAd__item item--pc" style="border-radius: 20px;" src="/assets/banner_pc_under.jpg" alt=""></a>
    <a href="https://www.kenko-mahjong-mate.com?utm_source=mahjong-search&utm_medium=banner" target="_blank"><img class="contentsAd__item item--pc" style="border-radius: 20px;" src="/assets/ad_mate.png" alt=""></a>
</div>