<!-- おすすめ -->
<% if @shop.paidicon1 == true %>
<a class="contentsDetails__tag__osusume" style="white-space: nowrap; background-color: #FFD5EC;"><td>おすすめ</td></a>
<% else %>
<% end %>

<!-- 場所 -->
<% if @shop.freeicon1 == true %>
<a class="contentsDetails__tag" style=""><td>麻雀店</td></a>
<% elsif %>
<% @shop.freeicon2 == true %>
<a class="contentsDetails__tag" style="background-color: #CCFFFF;"><td>公共施設</td></a>
<% elsif %>
<% @shop.freeicon3 == true %>
<a class="contentsDetails__tag" style=""><td>商業施設内</td></a>
<% elsif %>
<% @shop.freeicon4 == true %>
<a class="contentsDetails__tag" style=""><td>サークル</td></a>
<% else %>
<% end %>

<!-- ゲーム種別 -->
<% if @shop.freeicon11 == true %>
<a class="contentsDetails__tag"><td>健康麻雀</td></a>
<% else %>
<% end %>

<% if @shop.freeicon12 == true %>
<a class="contentsDetails__tag" style="background-color: #FFFF99;"><td>ノーレートフリー</td></a>
<% else %>
<% end %>

<% if @shop.freeicon13 == true %>
<a class="contentsDetails__tag" style=""><td>競技麻雀</td></a>
<% else %>
<% end %>

<% if @shop.freeicon14 == true %>
<a class="contentsDetails__tag" style="background-color: #FFCC33;"><td>麻雀教室</td></a>
<% else %>
<% end %>

<% if @shop.freeicon15 == true %>
<a class="contentsDetails__tag" style=""><td>初心者教室</td></a>
<% else %>
<% end %>

<!-- その他情報 -->
<% if @shop.freeicon21 == true %>
<a class="contentsDetails__tag" style="background-color: #DDDDDD;"><td>禁煙</td></a>
<% else %>
<% end %>

<% if @shop.freeicon22 == true %>
<a class="contentsDetails__tag" style="background-color: #DDDDDD;"><td>喫煙可</td></a>
<% else %>
<% end %>

<% if @shop.freeicon24 == true %>
<a class="contentsDetails__tag" style="background-color: #DDDDDD;"><td>女性限定</td></a>
<% else %>
<% end %>

<% if @shop.freeicon25 == true %>
<a class="contentsDetails__tag" style="background-color: #DDDDDD;"><td>要予約</td></a>
<% else %>
<% end %>

<% if @shop.freeicon26 == true %>
<a class="contentsDetails__tag" style="background-color: #DDDDDD;"><td>Mリーグルール</td></a>
<% else %>
<% end %>