<% content_for :title do %>広告掲載<% end %>
<div class="adv_content">
  <div class="adv_content_all">
    <h3 class="adv_content_title_h3">・地域店舗一覧画面 広告枠（月額）　</h3>
    <a class="adv_content_title_a" href="/recruit_adv">お申込み、お問合せはこちら</a>
    <table class="adv_content_table" style="margin-top: 5px;">
      <tr><th>広告種類</th><th>一般</th><th>店舗会員</th></tr>
      <tr><td>①トップ固定枠<br>PC＋モバイル</td><td>13,200円</td><td>4,400円</td></tr>
      <tr><td>②トップランダム枠<br>PC＋モバイル</td><td>6,600円</td><td>2,200円</td></tr>
      <tr><td>③おすすめ店舗<br>ランダム表示</td><td>--------</td><td>無料<br>(有料会員限定)</td></tr>
      <tr><td>④検索結果<br>上位表示</td><td>--------</td><td>無料<br>(有料会員優先)</td></tr>
    </table>
  </div>
  <div class="adv_content_search">
    <h3 class="adv_content_title_h3">・サイトトップ(全国版)（月額）　</h3>
    <a class="adv_content_title_a" href="/recruit_adv">お申込み、お問合せはこちら</a>
    <table class="adv_content_table">
      <tr><th>広告種類</th><th>一般</th><th>店舗会員</th></tr>
      <tr><td>⑤トップ固定枠<br>PC＋モバイル</td><td>要問合せ</td><td>要問合せ</td></tr>
      <tr><td>⑥トップランダム枠<br>PC＋モバイル</td><td>要問合せ</td><td>要問合せ</td></tr>
      <tr><td>⑦おすすめ店舗<br>ランダム表示</td><td>--------</td><td>2,200円<br>(有料会員限定)</td></tr>
    </table>
  </div>
</div>