<h1>Home#adv</h1>

<div class="adv_content">

<div class="adv_content_all">
	<h3 class="adv_content_title_h3">・地域店舗一覧画面 広告枠　　</h3>
	<a class="adv_content_title_a" href="/recruit_adv">お申込み、お問合せはこちら</a>
<table class="adv_content_table" style="margin-top: 5px;">
  <tr>
    <th>広告種類</th>
    <th>月額(税抜)<br>通常</th>
    <th>月額(税抜)<br>※会員以外</th>
    <th>月額(税抜)<br>※会員</th>
  </tr>
  <tr>
    <td>①PCトップ<br>＋スマホトップ</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
  </tr>
  <tr>
    <td>②PC右上<br>＋スマホ上</td>
    <td>12,000円</td>
    <td>8,000円</td>
    <td>4,000円</td>
  </tr>
  <tr>
    <td>③PC右中<br>＋スマホ中</td>
    <td>10,000円</td>
    <td>6,000円</td>
    <td>3,000円</td>
  </tr>
  <tr>
    <td>④PC右下<br>＋スマホ下</td>
    <td>8,000円</td>
    <td>4,000円</td>
    <td>2,000円</td>
  </tr>
  <tr>
    <td>⑤おすすめ店舗<br>(PC版のみ)</td>
    <td>--------</td>
    <td>--------</td>
    <td>1,000円</td>
  </tr>
  <tr>
  	<td>⑥検索結果<br>上位表示</td>
    <td>--------</td>
    <td>--------</td>
    <td>無料</td>
  </tr>
</table>
</div>

<div class="adv_content_search">
	<h3 class="adv_content_title_h3">・サイトトップ 広告枠　　</h3>
	<a class="adv_content_title_a" href="/recruit_adv">お申込み、お問合せはこちら</a>
<table class="adv_content_table">
  <tr>
    <th>広告種類</th>
    <th>月額(税抜)<br>通常</th>
    <th>月額(税抜)<br>※会員以外</th>
    <th>月額(税抜)<br>※会員</th>
  </tr>
  <tr>
    <td>⑦PCトップ<br>＋スマホトップ</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
  </tr>
  <tr>
    <td>⑧PC右上<br>＋スマホ上</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
  </tr>
  <tr>
    <td>⑨PC右中<br>＋スマホ中</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
  </tr>
  <tr>
    <td>⑩PC右下<br>＋スマホ下</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
    <td>要問合せ</td>
  </tr>
  <tr>
    <td>⑪おすすめ店舗<br>(PC版のみ)</td>
    <td>--------</td>
    <td>--------</td>
    <td>3,000円</td>
  </tr>
</table>
</div>
</div>