<div class="plan_box">
  <p>※非営利目的で活動されている団体・個人の方は<br><a href="/recruit/non_profit" style="color: blue; text-decoration:underline;">こちら</a>からお申込みください</p><p></p>
  <div class="flexbox">
    <div class="plan-table plan-free">
      <table>
        <tr><th>無料プラン</th></tr>
        <tr><td class="plan-price">無料</td></tr>
        <tr><td class="plan-item">店舗情報掲載　６項目</td></tr>
        <tr><td class="plan-item">店舗写真　１枚</td></tr>
        <tr><td><a class="btn" href="/recruit/free">会員登録</a></td></tr>
      </table>
    </div>
    <div class="plan-table plan-premium">
      <table>
        <tr><th>有料プラン</th></tr>
        <tr><td class="plan-price"><del>2,200</del><span> 円／月(税込)</span><p>登録キャンペーン中</p><p>2022年3月まで無料</p><p><span>※キャンペーンは予告なしに終了します</span></p></td></tr>
        <tr><td class="plan-item">店舗情報掲載　１４項目</td></tr>
        <tr><td class="plan-item">店舗写真　３枚</td></tr>
        <tr><td class="plan-item">掲載情報カスタマイズ</td></tr>
        <tr><td class="plan-item">HP・Twitter等のリンク掲載</td></tr>
        <tr><td class="plan-item">検索結果 上位表示</td></tr>
        <tr><td class="plan-item">おすすめアイコン表示</td></tr>
        <tr><td class="plan-item">バナー掲載(別料金)</td></tr>
        <tr><td class="plan-item">その他オプション(順次追加予定)</td></tr>
        <tr><td><a class="btn" href="/recruit/paid">会員登録</a></td></tr>
      </table>
    </div>
  </div>
</div>