<% content_for :title do %>健康麻雀クラブ_開催一覧<% end %>
<div class="" style="text-align:center; padding: 10px;">
  <h3>けんま～サーチ直営！</h3>
</div>
<div class="" style="text-align:center;">
  <h2>健康麻雀クラブ開催日程</h2>
</div>
<table class="reserve">
  <tr>
    <th class="reserve_date">開催日</th>
    <th class="reserve_time">時間</th>
    <th class="reserve_date">会場</th>
    <th class="reserve_availability">空き状況</th>
    <th class="reserve_button">予約</th>
  </tr>
  <tr>
    <td>2022年7月6日(水)</td>
    <td>9時～12時</td>
    <td>名古屋市中川区<br>中川生涯学習センター<br>第１学習室</td>
    <td>残8席</td>
    <td><%= link_to("予約申込", "/club_request") %></td>
  </tr>
  <tr>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    <td>---</td>
  </tr>
  <tr>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    <td>---</td>
  </tr>
  <tr>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    <td>---</td>
  </tr>
</table>