<% content_for :title do %>送信完了 | けんま～サーチ<% end %>
<div class="send_completely" style="text-align: center;">
	<h2>送信が完了しました</h2>
	<p>弊社で確認後、ご登録いただきましたメールアドレス宛にご連絡させていただきます。</p>
	<p>今しばらくお待ちくださいませ。</p>
	<p><%= link_to("サイトトップへ", "/") %></p>
</div>