<h1>Home#recruit#terms(利用規約)</h1>

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=shift_jis">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link rel=File-List href="利用規約.files/filelist.xml">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>ozawa reiko</o:Author>
  <o:LastAuthor>ozawa reiko</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>14</o:TotalTime>
  <o:Created>2021-07-01T06:07:00Z</o:Created>
  <o:LastSaved>2021-07-01T06:07:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>508</o:Words>
  <o:Characters>2901</o:Characters>
  <o:Lines>24</o:Lines>
  <o:Paragraphs>6</o:Paragraphs>
  <o:CharactersWithSpaces>3403</o:CharactersWithSpaces>
  <o:Version>16.00</o:Version>
 </o:DocumentProperties>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
 </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData href="利用規約.files/themedata.thmx">
<link rel=colorSchemeMapping href="利用規約.files/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:DrawingGridHorizontalSpacing>5.25 pt</w:DrawingGridHorizontalSpacing>
  <w:DisplayHorizontalDrawingGridEvery>0</w:DisplayHorizontalDrawingGridEvery>
  <w:DisplayVerticalDrawingGridEvery>2</w:DisplayVerticalDrawingGridEvery>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>JA</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:SpaceForUL/>
   <w:BalanceSingleByteDoubleByteWidth/>
   <w:DoNotLeaveBackslashAlone/>
   <w:ULTrailSpace/>
   <w:DoNotExpandShiftReturn/>
   <w:AdjustLineHeightInTable/>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:EnableOpenTypeKerning/>
   <w:DontFlipMirrorIndents/>
   <w:OverrideTableStyleHps/>
   <w:UseFELayout/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false"
  DefSemiHidden="false" DefQFormat="false" DefPriority="99"
  LatentStyleCount="376">
  <w:LsdException Locked="false" Priority="0" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index 9"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" Name="toc 9"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Normal Indent"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="footnote text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="annotation text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="header"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="footer"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="index heading"/>
  <w:LsdException Locked="false" Priority="35" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="table of figures"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="envelope address"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="envelope return"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="footnote reference"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="annotation reference"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="line number"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="page number"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="endnote reference"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="endnote text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="table of authorities"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="macro"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="toa heading"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Bullet 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Number 5"/>
  <w:LsdException Locked="false" Priority="10" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Closing"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Signature"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="true"
   UnhideWhenUsed="true" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text Indent"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="List Continue 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Message Header"/>
  <w:LsdException Locked="false" Priority="11" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Salutation"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Date"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text First Indent"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text First Indent 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Note Heading"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text Indent 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Body Text Indent 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Block Text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Hyperlink"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="FollowedHyperlink"/>
  <w:LsdException Locked="false" Priority="22" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Document Map"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Plain Text"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="E-mail Signature"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Top of Form"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Bottom of Form"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Normal (Web)"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Acronym"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Address"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Cite"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Code"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Definition"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Keyboard"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Preformatted"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Sample"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Typewriter"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="HTML Variable"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Normal Table"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="annotation subject"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="No List"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Outline List 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Outline List 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Outline List 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Contemporary"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Elegant"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Professional"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Subtle 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Subtle 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Balloon Text"/>
  <w:LsdException Locked="false" Priority="39" Name="Table Grid"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Theme"/>
  <w:LsdException Locked="false" SemiHidden="true" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" SemiHidden="true" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" QFormat="true"
   Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" QFormat="true"
   Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" QFormat="true"
   Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" QFormat="true"
   Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" QFormat="true"
   Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" QFormat="true"
   Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" SemiHidden="true"
   UnhideWhenUsed="true" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="true"
   UnhideWhenUsed="true" QFormat="true" Name="TOC Heading"/>
  <w:LsdException Locked="false" Priority="41" Name="Plain Table 1"/>
  <w:LsdException Locked="false" Priority="42" Name="Plain Table 2"/>
  <w:LsdException Locked="false" Priority="43" Name="Plain Table 3"/>
  <w:LsdException Locked="false" Priority="44" Name="Plain Table 4"/>
  <w:LsdException Locked="false" Priority="45" Name="Plain Table 5"/>
  <w:LsdException Locked="false" Priority="40" Name="Grid Table Light"/>
  <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark"/>
  <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful"/>
  <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 1"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 1"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 1"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 1"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 1"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 2"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 2"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 2"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 2"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 2"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 3"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 3"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 3"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 3"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 3"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 4"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 4"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 4"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 4"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 4"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 5"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 5"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 5"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 5"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 5"/>
  <w:LsdException Locked="false" Priority="46"
   Name="Grid Table 1 Light Accent 6"/>
  <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 6"/>
  <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 6"/>
  <w:LsdException Locked="false" Priority="51"
   Name="Grid Table 6 Colorful Accent 6"/>
  <w:LsdException Locked="false" Priority="52"
   Name="Grid Table 7 Colorful Accent 6"/>
  <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark"/>
  <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful"/>
  <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 1"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 1"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 1"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 1"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 1"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 2"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 2"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 2"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 2"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 2"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 3"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 3"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 3"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 3"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 3"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 4"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 4"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 4"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 4"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 4"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 5"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 5"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 5"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 5"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 5"/>
  <w:LsdException Locked="false" Priority="46"
   Name="List Table 1 Light Accent 6"/>
  <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 6"/>
  <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 6"/>
  <w:LsdException Locked="false" Priority="51"
   Name="List Table 6 Colorful Accent 6"/>
  <w:LsdException Locked="false" Priority="52"
   Name="List Table 7 Colorful Accent 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Mention"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Smart Hyperlink"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Hashtag"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Unresolved Mention"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Smart Link"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;
	mso-font-charset:2;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:0 268435456 0 0 -2147483648 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:游明朝;
	panose-1:2 2 4 0 0 0 0 0 0 0;
	mso-font-charset:128;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:-2147482905 717749503 18 0 131231 0;}
@font-face
	{font-family:"ＭＳ Ｐゴシック";
	panose-1:2 11 6 0 7 2 5 8 2 4;
	mso-font-charset:128;
	mso-generic-font-family:modern;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1791491579 134217746 0 131231 0;}
@font-face
	{font-family:メイリオ;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:128;
	mso-generic-font-family:modern;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1791492095 134217746 0 131231 0;}
@font-face
	{font-family:"\@メイリオ";
	mso-font-charset:128;
	mso-generic-font-family:modern;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1791492095 134217746 0 131231 0;}
@font-face
	{font-family:"\@ＭＳ Ｐゴシック";
	mso-font-charset:128;
	mso-generic-font-family:modern;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1791491579 134217746 0 131231 0;}
@font-face
	{font-family:"\@游明朝";
	mso-font-charset:128;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:-2147482905 717749503 18 0 131231 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0mm;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:11.0pt;
	font-family:"游明朝",serif;
	mso-ascii-font-family:游明朝;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:游明朝;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:游明朝;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
h1
	{mso-style-priority:9;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"見出し 1 \(文字\)";
	mso-margin-top-alt:auto;
	margin-right:0mm;
	mso-margin-bottom-alt:auto;
	margin-left:0mm;
	mso-pagination:widow-orphan;
	mso-outline-level:1;
	font-size:24.0pt;
	font-family:"ＭＳ Ｐゴシック";
	mso-bidi-font-family:"ＭＳ Ｐゴシック";
	font-weight:bold;}
h2
	{mso-style-priority:9;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"見出し 2 \(文字\)";
	mso-margin-top-alt:auto;
	margin-right:0mm;
	mso-margin-bottom-alt:auto;
	margin-left:0mm;
	mso-pagination:widow-orphan;
	mso-outline-level:2;
	font-size:18.0pt;
	font-family:"ＭＳ Ｐゴシック";
	mso-bidi-font-family:"ＭＳ Ｐゴシック";
	font-weight:bold;}
p
	{mso-style-noshow:yes;
	mso-style-priority:99;
	mso-margin-top-alt:auto;
	margin-right:0mm;
	mso-margin-bottom-alt:auto;
	margin-left:0mm;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"ＭＳ Ｐゴシック";
	mso-bidi-font-family:"ＭＳ Ｐゴシック";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0mm;
	margin-right:0mm;
	margin-bottom:0mm;
	margin-left:42.0pt;
	mso-para-margin-top:0mm;
	mso-para-margin-right:0mm;
	mso-para-margin-bottom:0mm;
	mso-para-margin-left:4.0gd;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:11.0pt;
	font-family:"游明朝",serif;
	mso-ascii-font-family:游明朝;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:游明朝;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:游明朝;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
span.1
	{mso-style-name:"見出し 1 \(文字\)";
	mso-style-priority:9;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"見出し 1";
	mso-ansi-font-size:24.0pt;
	mso-bidi-font-size:24.0pt;
	font-family:"ＭＳ Ｐゴシック";
	mso-ascii-font-family:"ＭＳ Ｐゴシック";
	mso-fareast-font-family:"ＭＳ Ｐゴシック";
	mso-hansi-font-family:"ＭＳ Ｐゴシック";
	mso-bidi-font-family:"ＭＳ Ｐゴシック";
	mso-font-kerning:18.0pt;
	font-weight:bold;}
span.2
	{mso-style-name:"見出し 2 \(文字\)";
	mso-style-priority:9;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"見出し 2";
	mso-ansi-font-size:18.0pt;
	mso-bidi-font-size:18.0pt;
	font-family:"ＭＳ Ｐゴシック";
	mso-ascii-font-family:"ＭＳ Ｐゴシック";
	mso-fareast-font-family:"ＭＳ Ｐゴシック";
	mso-hansi-font-family:"ＭＳ Ｐゴシック";
	mso-bidi-font-family:"ＭＳ Ｐゴシック";
	mso-font-kerning:0pt;
	font-weight:bold;}
p.tr, li.tr, div.tr
	{mso-style-name:tr;
	mso-style-unhide:no;
	mso-margin-top-alt:auto;
	margin-right:0mm;
	mso-margin-bottom-alt:auto;
	margin-left:0mm;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"ＭＳ Ｐゴシック";
	mso-bidi-font-family:"ＭＳ Ｐゴシック";}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:"游明朝",serif;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
 /* Page Definitions */
 @page
	{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:36.0pt 36.0pt 36.0pt 36.0pt;
	mso-header-margin:42.55pt;
	mso-footer-margin:49.6pt;
	mso-paper-source:0;
	layout-grid:18.0pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 @list l0
	{mso-list-id:294918218;
	mso-list-template-ids:332424866;}
@list l1
	{mso-list-id:611862869;
	mso-list-template-ids:66630338;}
@list l2
	{mso-list-id:656959420;
	mso-list-template-ids:-1234671148;}
@list l3
	{mso-list-id:760226397;
	mso-list-template-ids:-517303414;}
@list l4
	{mso-list-id:784034174;
	mso-list-template-ids:-1532084168;}
@list l5
	{mso-list-id:861362185;
	mso-list-template-ids:1228287150;}
@list l6
	{mso-list-id:982153504;
	mso-list-type:hybrid;
	mso-list-template-ids:125891552 67698689 67698699 67698701 67698689 67698699 67698701 67698689 67698699 67698701;}
@list l6:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F06C;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:21.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l6:level2
	{mso-level-number-format:bullet;
	mso-level-text:\F0D8;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:42.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l6:level3
	{mso-level-number-format:bullet;
	mso-level-text:\F0B2;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:63.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l6:level4
	{mso-level-number-format:bullet;
	mso-level-text:\F06C;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:84.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l6:level5
	{mso-level-number-format:bullet;
	mso-level-text:\F0D8;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:105.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l6:level6
	{mso-level-number-format:bullet;
	mso-level-text:\F0B2;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:126.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l6:level7
	{mso-level-number-format:bullet;
	mso-level-text:\F06C;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:147.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l6:level8
	{mso-level-number-format:bullet;
	mso-level-text:\F0D8;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:168.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l6:level9
	{mso-level-number-format:bullet;
	mso-level-text:\F0B2;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:189.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l7
	{mso-list-id:1207331008;
	mso-list-template-ids:-766372098;}
@list l8
	{mso-list-id:1357465130;
	mso-list-template-ids:111965480;}
@list l9
	{mso-list-id:1755736378;
	mso-list-template-ids:848463528;}
ol
	{margin-bottom:0mm;}
ul
	{margin-bottom:0mm;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:標準の表;
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0mm 5.4pt 0mm 5.4pt;
	mso-para-margin:0mm;
	mso-pagination:widow-orphan;
	font-size:10.5pt;
	mso-bidi-font-size:11.0pt;
	font-family:"游明朝",serif;
	mso-ascii-font-family:游明朝;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:游明朝;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:游明朝;
	mso-hansi-theme-font:minor-latin;
	mso-font-kerning:1.0pt;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="1026">
  <v:textbox inset="5.85pt,.7pt,5.85pt,.7pt"/>
 </o:shapedefaults></xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=JA style='tab-interval:42.0pt;word-wrap:break-word;text-justify-trim:
punctuation'>

<div class=WordSection1 style='layout-grid:18.0pt; margin : 30px ;'>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:26.0pt;mso-bidi-font-size:28.0pt;font-family:メイリオ'>利用規約<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>この利用規約（以下，「本規約」といいます。）は，健康マージャン本陣クラブ（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>1</span>条（適用）</span></b><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:white;mso-themecolor:background1;mso-font-kerning:0pt'><o:p></o:p></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>2</span>条（利用登録）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこれを承認することによって，利用登録が完了するものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>利用登録の申請に際して虚偽の事項を届け出た場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本規約に違反したことがある者からの申請である場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>その他，当社が利用登録を相当でないと判断した場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>3</span>条（ユーザー<span
lang=EN-US>ID</span>およびパスワードの管理）<span lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザーは，自己の責任において，本サービスのユーザー<span lang=EN-US>ID</span>およびパスワードを適切に管理するものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザーは，いかなる場合にも，ユーザー<span lang=EN-US>ID</span>およびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザー<span
lang=EN-US>ID</span>とパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザー<span lang=EN-US>ID</span>を登録しているユーザー自身による利用とみなします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザー<span lang=EN-US>ID</span>及びパスワードが第三者によって使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>4</span>条（利用料金および支払方法）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザーは，本サービスの有料部分の対価として，当社が別途定め，本ウェブサイトに表示する利用料金を，当社が指定する方法により支払うものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザーが利用料金の支払を遅滞した場合には，ユーザーは年<span
lang=EN-US>14</span>．<span lang=EN-US>6</span>％の割合による遅延損害金を支払うものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>5</span>条（禁止事項）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>法令または公序良俗に違反する行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>犯罪行為に関連する行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本サービスによって得られた情報を商業的に利用する行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社のサービスの運営を妨害するおそれのある行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>不正アクセスをし，またはこれを試みる行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>他のユーザーに関する個人情報等を収集または蓄積する行為<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>不正な目的を持って本サービスを利用する行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>他のユーザーに成りすます行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社が許諾しない本サービス上での宣伝，広告，勧誘，または営業行為<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>面識のない異性との出会いを目的とした行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>その他，当社が不適切と判断する行為<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>6</span>条（本サービスの提供の停止等）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>コンピュータまたは通信回線等が事故により停止した場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>その他，当社が本サービスの提供が困難と判断した場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>7</span>条（利用制限および登録抹消）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本規約のいずれかの条項に違反した場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>登録事項に虚偽の事実があることが判明した場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>料金等の支払債務の不履行があった場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社からの連絡に対し，一定期間返答がない場合<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本サービスについて，最終の利用から一定期間利用がない場合<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>その他，当社が本サービスの利用を適当でないと判断した場合<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，本条に基づき当社が行った行為によりユーザーに生じた損害について，一切の責任を負いません。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>8</span>条（退会）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザーは，当社の定める退会手続により，本サービスから退会できるものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>9</span>条（保証の否認および免責事項）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし，本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>前項ただし書に定める場合であっても，当社は，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。また，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>10</span>条（サービス内容の変更等）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>11</span>条（利用規約の変更）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>12</span>条（個人情報の取扱い）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>当社は，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>13</span>条（通知または連絡）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザーと当社との間の通知または連絡は，当社の定める方法によって行うものとします。当社は<span
lang=EN-US>,</span>ユーザーから<span lang=EN-US>,</span>当社が別途定める方式に従った変更届け出がない限り<span
lang=EN-US>,</span>現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い<span lang=EN-US>,</span>これらは<span
lang=EN-US>,</span>発信時にユーザーへ到達したものとみなします。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>14</span>条（権利義務の譲渡の禁止）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
lang=EN-US style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='line-height:20.0pt;mso-line-height-rule:exactly'><b><span
style='font-size:18.0pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#202231;mso-font-kerning:0pt'>第<span lang=EN-US>15</span>条（準拠法・裁判管轄）<span
lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本規約の解釈にあたっては，日本法を準拠法とします。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄とします。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:12.0pt;mso-line-height-rule:exactly'><span
style='font-size:11.5pt;font-family:メイリオ;mso-bidi-font-family:"ＭＳ Ｐゴシック";
color:#434343;mso-font-kerning:0pt'>以上<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>