<h1>Owner#index</h1>
<p>Find me in app/views/owner/index.html.erb</p>

<h3><%= link_to("メッセージ一覧", "/owner/member_list") %></h3>
<h3><%= link_to("登録店舗一覧", "/stores/index") %></h3>
<h3><%= link_to("店舗登録", "/stores/new") %></h3>
<h3><%= link_to("データ型確認", "/stores/confirm") %></h3>