/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*共通デザイン*/

@charset "utf-8";

dd,dl,h1,h2,h3,p{
margin:0
}

button{
padding:0;
border:none
}

button:focus{
outline:none
}

button:hover{
cursor:pointer
}

body,ol,ul{
margin:0
}

ol,ul{
padding:0;list-style:none
}

em{
font-style:normal
}

img{
vertical-align:top
}

a:link{
text-decoration:none
}

@font-face{
font-family:alte Din;
src:url("../font/Alte DIN 1451 Mittelschrift gepraegt Regular/Alte DIN 1451 Mittelschrift gepraegt Regular.ttf")
}

*{
-webkit-box-sizing:border-box;
box-sizing:border-box;
color:clr-black
}

body{
font-family:ヒラギノ角ゴ ProN,-apple-system,BlinkMacSystemFont,Helvetica Neue,YuGothic,Hiragino Kaku Gothic ProN,Arial,メイリオ,Meiryo,sans-serif;
-webkit-text-size-adjust:100%
}

body.is-fixed{
position:fixed
}

a{
cursor:pointer
}

table{
border-collapse:collapse
}

dl{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap
}

ul{
list-style:none
}

select,textarea{
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
background-color:clr-white
}

select::-ms-expand{
display:none
}

.selectMain__placeholder{
display:none
}

.item--pc{
display:none!important
}

@media screen and (min-width:769px){
.item--pc{
display:block!important
}}

.item--sp{
display:block!important
}

@media screen and (min-width:769px){
.item--sp{
display:none!important
}}

.header{
background:#d8ec8a
}

.header__inner{
max-width:1200px;
margin:auto;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
height:60px;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center
}

@media screen and (min-width:769px){
.header__inner{
height:80px;
padding:0 20px
}}

@media screen and (min-width:769px){
.header__list{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center
}}

.header__item,.header__item--contact{
font-size:15px;
margin-left:10px;
color:#fff;
-webkit-transition:.5s;
transition:.5s
}

.header__item--contact:hover,.header__item:hover{
color:#0083ff
}

@media screen and (min-width:769px){
.header__item,.header__item--contact{
margin-left:30px
}}

@media screen and (min-width:500px) and (max-width:768px){
.header__item,.header__item--contact{
margin-left:380px
}}

@media screen and (max-width:370px){
.header__item,.header__item--contact{
font-size:10px;
margin-left:5px
}}

.header__item--contact{
border:1px solid #fff;
color:#fff;
padding:10px;
-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2);
box-shadow:0 3px 3px rgba(0,0,0,.2)
}

@media screen and (min-width:769px){
.header__item--contact{
padding:10px 15px
}}

@media screen and (max-width:370px){
.header__item--contact{
padding:10px 2px
}}

.header__logo{
height:auto;
margin-left:20px
}

.header__logo img{
width:150px
}

@media screen and (min-width:769px){
.header__logo img{
width:200px
}}

.header__btn{
width:50px;
height:60px;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-transition:.5s;
transition:.5s
}

.header__btn.is-active #nav-open span,.header__btn.is-active #nav-open span:after,.header__btn.is-active #nav-open span:before{
width:30px;
-webkit-transform:rotate(-45deg);
transform:rotate(-45deg);
top:27px
}

.header__btn.is-active #nav-open span:before{
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg);
top:0
}

.header__btn.is-active #nav-open span:after{
display:none
}

@media screen and (min-width:769px){
.header__btn{
display:none
}}

.header__txt{
display:none
}

@media screen and (min-width:769px){
.header__txt{
display:block;
font-size:24px;
color:#333
}

.header__txt span{
font-size:20px
}
}

.menu{
display:none
}

@media screen and (min-width:769px){
.menu{
display:block;
background:#f7f8f4
}}

.menu__inner{
max-width:1200px;
margin:auto
}

.menu__item,.menu__list{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center
}

.menu__item{
width:20%;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
color:#000;
padding:12px 0;
font-size:14px;
border-left:1px solid #ccc;
-webkit-transition:.5s;
transition:.5s
}

/*ここから不要かも*/
.menu__item__login{
width:20%;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
color:red;
padding:12px 0;
font-size:14px;
border-left:1px solid #ccc;
-webkit-transition:.5s;
transition:.5s
}
/*ここまで不要かも*/

.menu__item:hover{
background:#e8e8e8
}

.menu__item:last-child{
border-right:1px solid #ccc
}

.menu__item img{
margin-right:10px;
width:23px;
height:23px
}

#nav-open{
display:inline-block;
width:30px;
height:22px;
vertical-align:middle;
padding-left:3px
}

#nav-open span,#nav-open span:after,#nav-open span:before{
position:absolute;
height:3px;
width:25px;
border-radius:3px;
background:#333;
display:block;
content:"";
cursor:pointer;
-webkit-transition:.5s;transition:.5s
}

#nav-open span:before{
bottom:-8px
}

#nav-open span:after{
bottom:-16px
}

#nav-list{
width:100%;
background-color:#f7f8f4;
display:none;
position:absolute;
top:60px;
left:0;
z-index:999;
height:100vh
}

#nav-list,.nav__item{
color:#333;
text-align:center
}

.nav__item{
font-size:15px;
font-weight:700;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
height:65px;
border-bottom:1px solid #c7c7c7;
padding:0 20px;
position:relative
}

/*ここから不要かも*/
.nav__item__login{
color: red;
font-size:15px;
font-weight:700;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
height:65px;
border-bottom:1px solid #c7c7c7;
padding:0 20px;
position:relative
}
/*ここまで*/

.nav__item img{
width:23px;
height:23px;
margin-right:8px
}

.nav__item:before{
content:"";
width:6px;
height:6px;
border:0;
border-top:2px solid #c7c7c7;
border-right:2px solid #c7c7c7;
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
position:absolute;
top:50%;
right:20px;
margin-top:-4px
}

.scroll-prevent{
overflow:hidden
}

.footer{
background:#3a3c30;
text-align:center;
padding:40px 0
}

.footer__inner{
padding:0 20px
}

@media screen and (min-width:769px){
.footer__inner{
max-width:600px;
margin:auto
}}

.footer__mapList{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
margin-top:15px
}

@media screen and (min-width:769px){
.footer__mapList{
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center
}}

.footer__mapItem{
color:#fff;
font-size:12px;
width:55px;
margin-top:15px;
-webkit-transition:.5s;
transition:.5s;
text-decoration:underline!important
}

.footer__mapItem:hover{
opacity:.7;
text-decoration:none!important
}

@media screen and (min-width:769px){
.footer__mapItem{
font-size:14px;
width:65px
}}

@media screen and (min-width:769px){
.footer__pageList{
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center
}}

.footer__pageList{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
margin-top:20px
}

.footer__pageItem{
width:120px;
font-size:15px;
color:#fff;
margin-top:10px;
-webkit-transition:.5s;
transition:.5s;
text-decoration:underline!important
}

.footer__pageItem:hover{
opacity:.7;
text-decoration:none!important
}

@media screen and (min-width:769px){
.footer__pageItem{
width:130px;
font-size:18px
}}

.footer__copyright{
background:#d8ec8a;
text-align:center;
padding:3px 0;
font-size:12px
}

.c-buttonPrimary{
width:386px;
height:58px;
border-radius:3px;
color:#fff;
cursor:pointer;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
margin:0 auto;
background:clr-btn-submit;
-webkit-box-shadow:0 0 30px rgba(0,0,0,.25);
box-shadow:0 0 30px rgba(0,0,0,.25);
border:3px solid #d43a1b;
font-size:18px;
-webkit-appearance:none;
width:100%;
border-radius:50px
}

.formSection .c-buttonPrimary{
margin-top:10px
}

.c-buttonPrimaryAfter{
position:relative;
width:386px;
margin:0 auto
}

.c-buttonPrimary--mini:before{
content:"";
background-image:url(../img/icon.png)
}

.c-buttonPrimary--mini,.c-buttonPrimary--mini--banner{
width:260px;
height:50px;
border-radius:3px;
margin:0 auto;
-webkit-box-shadow:0 3px 0 clr-btn-shadow;
box-shadow:0 3px 0 clr-btn-shadow;
font-size:18px;
border-radius:50px
}

.c-buttonPrimary--large,.c-buttonPrimary--mini,.c-buttonPrimary--mini--banner{
color:#fff;
cursor:pointer;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
background:clr-btn-submit;
text-decoration:none
}

.c-buttonPrimary--large{
width:33%;
height:60px;
border-radius:3px;
font-size:22px;
margin:25px auto 0;
border-radius:50px;
border:3px solid #d43a1b
}

.c-buttonPrimary--large__ico{
width:47px;
margin-right:20px
}

.c-buttonIcon{
-webkit-transform:rotate(90deg);
transform:rotate(90deg)
}

.c-buttonIcon,.c-buttonIcon--submit{
width:20px;
margin-left:10px
}

.c-buttonTxt{
color:#fff
}

.c-buttonSecondary{
width:260px;
height:60px;
font-size:18px
}

.c-buttonSecondary,.c-buttonSecondary--mini{
border-radius:3px;
color:#fff;
cursor:pointer;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
margin:0 auto;
text-decoration:none;
background:clr-btn-secondary;
-webkit-box-shadow:0 3px 0 clr-btn-secondShadow;
box-shadow:0 3px 0 clr-btn-secondShadow
}

.c-buttonSecondary--mini{
width:100%;
height:102px
}

.c-buttonSecondary--mini__ico{
width:36px
}

.c-buttonTertiary{
width:260px;
height:60px;
font-size:18px
}

.c-buttonTertiary,.c-buttonTertiary--mini{
border-radius:3px;
color:#fff;
cursor:pointer;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
margin:0 auto;
background:clr-btn-tertiary;
-webkit-box-shadow:0 3px 0 clr-btn-tertiaryShadow;
box-shadow:0 3px 0 clr-btn-tertiaryShadow;
text-decoration:none
}

.c-buttonTertiary--mini{
width:100%;
height:102px;
font-size:22px
}

.c-buttonTertiary--mini__ico{
width:33px;
margin-right:5px
}

.c-buttonPrimaryRec,.c-buttonTxtSp{
display:none
}

.c-buttonCancel{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
width:460px;
height:50px;
margin-top:25px;
margin-right:auto;
margin-left:auto;
background:#f7f7f7;
border-radius:6px;
color:grey;
text-align:center;
font-size:15px
}

@media screen and (max-width:767px){
.c-buttonCancel{
width:100%;
max-width:200px;
height:25px;
font-size:10px
}}

@media screen and (max-width:1060px){
.c-buttonPrimary--large__subtxt{
display:none
}

.c-buttonSecondary--mini,.c-buttonTertiary--mini{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column
}

.c-buttonPrimary--large__txt{
font-size:18px
}}

@media screen and (max-width:767px){
.c-buttonPrimary--large,.c-buttonPrimaryAfter{
width:100%
}

.c-buttonPrimary{
position:relative;
max-width:340px;
width:100%;
height:60px;
font-size:17px
}

.c-buttonPrimary--mini{
width:60px;height:50px
}

.c-buttonPrimary--mini--banner,.c-buttonSecondary,.c-buttonTertiary{
-webkit-box-shadow:none;
box-shadow:none
}

.c-buttonPrimary--mini--banner,.c-buttonPrimaryRec,.c-buttonSecondary,.c-buttonTertiary{
height:80px;
width:50%;
border-radius:0;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
font-size:10px;
-webkit-box-pack:start;
-ms-flex-pack:start;
justify-content:flex-start
}

.c-buttonPrimaryRec{
display:block;
background:clr-theme-font;
color:#fff;
text-align:center;
text-decoration:none
}

.c-buttonPrimaryRec__icon{
width:25px;
color:#fff;
margin-top:22px;
vertical-align:baseline
}

.c-buttonPrimaryRec__txt{
color:#fff;
font-size:10px;
line-height:1;
margin-top:8px
}

.c-buttonIcon{
width:25px
}

.c-buttonTxt{
margin-top:8px
}

.c-buttonTxtSp{
display:inline;
margin-top:8px;
color:#fff
}}

.formRow{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-ms-flex-wrap:nowrap;
flex-wrap:nowrap;
padding:10px 0
}

.formRow:last-of-type{
border-bottom:0;
padding-bottom:0;
margin-bottom:40px
}

.formRow--select{
padding:15px 0
}

.formRow--select:last-of-type{
border-bottom:0;
padding-bottom:0;
margin-bottom:30px
}

.formRow__que{
max-width:507px;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between
}

.formRow__que,.formRow__que--secondary{
height:auto;
width:100%;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center
}

.formRow__que__main{
font-size:20px;
text-align:left;
font-weight:400
}

.formRow__que__main--secondary{
margin-left:15px;
font-size:20px
}

._formRow__que__label,.formRow__que__label--any,.formRow__que__label--required{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
width:40px;
height:21px;
-webkit-box-pack:center;
-ms-flex-pack:center;
justify-content:center;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
border-radius:6px;
color:clr-white;
border:none;
font-size:12px
}

.formRow__que__label--required{
background:#f97d7d
}

.formRow__que__label--any{
background:clr-any
}

.formRow__ans{
padding-left:10px;
min-width:504px
}

.formRow__ans,.formRow__ans--select{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
width:100%
}

.formRow__que__annotation{
color:grey
}

._inputBase,._selectBase,.inputMain,.inputSecondary,.selectMain,.selectSecondary,.selectTertiary{
height:50px;
padding:0 19px;
border-radius:3px;
border:1px solid clr-border;
font-size:16px
}

._inputBase::-webkit-input-placeholder,._selectBase::-webkit-input-placeholder,.inputMain::-webkit-input-placeholder,.inputSecondary::-webkit-input-placeholder,.selectMain::-webkit-input-placeholder,.selectSecondary::-webkit-input-placeholder,.selectTertiary::-webkit-input-placeholder{
color:clr-place
}

._inputBase::-moz-placeholder,._selectBase::-moz-placeholder,.inputMain::-moz-placeholder,.inputSecondary::-moz-placeholder,.selectMain::-moz-placeholder,.selectSecondary::-moz-placeholder,.selectTertiary::-moz-placeholder{
color:clr-place
}

._inputBase::-ms-input-placeholder,._selectBase::-ms-input-placeholder,.inputMain::-ms-input-placeholder,.inputSecondary::-ms-input-placeholder,.selectMain::-ms-input-placeholder,.selectSecondary::-ms-input-placeholder,.selectTertiary::-ms-input-placeholder{
color:clr-place
}

._inputBase::placeholder,._selectBase::placeholder,.inputMain::placeholder,.inputSecondary::placeholder,.selectMain::placeholder,.selectSecondary::placeholder,.selectTertiary::placeholder{
color:clr-place
}

.inputMain{
width:100%
}

.inputSecondary{
width:162px
}

.selectMain{
width:100%
}

._selectBoxBase,.selectBox,.selectBox--short{
position:relative
}

._selectBoxBase:after,.selectBox--short:after,.selectBox:after{
content:"";
display:block;
position:absolute;
top:50%;
-webkit-transform:translateY(-50%);
transform:translateY(-50%);
width:0;
height:0;
border-top:11px solid clr-triangle;
border-right:7px solid transparent;
border-left:7px solid transparent
}

.selectBox{
width:100%
}

.selectBox:after{
right:25px
}

.selectBox--short:after{
right:14px
}

.selectSecondary{
width:140px
}

.selectTertiary{
width:70px
}

.formRow__ans__chara{
display:inline-block;
font-weight:700;
height:23px;
margin:0 28.6px 0 12px
}

.radioSet{
margin-right:50px;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center
}

.radioSet__button{
margin-right:15px
}

.textareaMain{
width:100%;
height:100px;
padding:10px;
border:1px solid clr-border;
border-radius:3px;
font-size:16px
}

.textareaMain::-webkit-input-placeholder{
font-size:16px;
color:clr-any
}

.textareaMain::-moz-placeholder{
font-size:16px;
color:clr-any
}

.textareaMain::-ms-input-placeholder{
font-size:16px;
color:clr-any
}

.textareaMain::placeholder{
font-size:16px;
color:clr-any
}

.formErrorTxt{
color:clr-err;
margin-left:10px;
display:none
}

.form__caution{
margin-top:45px;
font-size:16px
}

.formSection__info{
margin-top:10px
}

.formSection__info__head{
font-size:12px;
font-weight:700
}

.formSection__info__txt{
font-size:12px;
margin-top:8px
}

@media screen and (max-width:960px){
.formRow{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
padding:0 0 21.5px;
margin-bottom:0;
-webkit-box-align:start;
-ms-flex-align:start;
align-items:flex-start;
width:100%
}

.formRow:last-of-type{
padding-bottom:50px;
margin-bottom:0
}

.formRowfirst-of-type{
padding-top:0
}

.formRow__que{
margin-top:0;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
padding:0 17px
}

.formRow__ans{
max-width:none;
padding:0 17px;
margin-top:12.5px;
min-width:0
}

.formRow__que__main{
margin-left:15px;
font-weight:700
}

.formRow__que__main--secondary{
margin-left:0;
margin-right:15px;
width:80%;
text-align:left;
font-size:14px
}}

@media screen and (max-width:767px){
.formRow__que__label--required{
width:40px;
height:20px;
font-size:12px;
line-height:20px
}

.formRow__que__label--any{
width:45px;
height:20px;
font-size:10px;
line-height:20px
}

.formRow__que__main{
font-size:14px;
margin-left:0;
margin-right:15px;
font-weight:700
}

.formRow__ans{
max-width:none;
padding:0 17px;
margin-top:12.5px;
min-width:0
}

.formRow__ans__chara{
margin:0 17px 0 5px
}

.formRow__ans__chara:last-of-type{
margin-right:0
}

._selectBase,.inputMain,.inputSecondary,.selectMain{
font-size:14px
}

.inputSecondary{
width:100%
}

.selectSecondary{
width:97px
}

.selectTertiary{
width:55.5px
}

.radioSet{
margin-right:0;
font-size:16px
}

.radioSet:first-of-type{
margin:0 130px 5px 0
}

.radioSet__button{
margin-right:15px
}

.textareaMain{
height:188.8px
}

.formRow__que--secondary{
width:100%;
height:auto;
margin:10px auto;
padding:0 27px;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between
}

.formRow__que__annotation{
font-size:12px
}}

.contentsKv__head{
background:#f7f8f4;
color:#333;
font-size:14px;
text-align:center;
padding:3px 0
}

.contentsKv__img{
margin-top: 10px;
width:100%;
height:260px;
-o-object-fit:cover;
object-fit:cover;
font-family:"object-fit: cover;"
}

@media screen and (min-width:769px){
.contentsKv__img{
height:440px
}}

@media screen and (min-width:769px){
.contentsLayout,.contentsLayout--shop{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
max-width:1200px;
margin:auto
}}

@media screen and (min-width:769px){
.contentsLayout--shop{
margin-top:40px
}}

@media screen and (min-width:769px){
.contentsMain{
width:calc(100% - 440px);
-webkit-box-ordinal-group:3;
-ms-flex-order:2;
order:2;
padding:0 20px 120px
}}

.contentsMap{
position:relative;
text-align:center;
padding:70px 0
}

@media screen and (min-width:769px){
.contentsMap{
padding:80px 0 10px
}}

.contentsMap__head{
position:absolute;
left:0;
right:0;
margin:auto;
top:-70px;
width:240px
}

@media screen and (min-width:769px){
.contentsMap__head{
width:270px;
top:-80px
}}

.contentsMap__map{
width:100%;
padding:0 10px
}

@media screen and (min-width:769px){
.contentsMap__map{
-webkit-transform:scale(1.2);
transform:scale(1.2);
margin:20px 0;
padding:0
}}

.contentsMap__piece01{
position:absolute;
left:30px;
top:60px;
width:140px
}

@media screen and (min-width:769px) and (max-width:1024px){
.contentsMap__piece01{
width:100px
}}

.contentsMap__piece02{
position:absolute;
right:30px;
bottom:230px;
width:140px
}

@media screen and (min-width:769px) and (max-width:1024px){
.contentsMap__piece02{
width:100px
}}

.contentsMap__list{
background:#f8fceb;
padding:20px 15px;
margin-top:10px;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
-ms-flex-wrap:wrap;
flex-wrap:wrap
}

@media screen and (min-width:769px){
.contentsMap__list{
margin-top:20px;
padding:20px
}}

.contentsMap__item{
display:inline-block;
position:relative;
width:48%;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
background:#fff;
border:1px solid #ddd;
padding:5px 20px;
color:#000;
-webkit-transition:.5s;
transition:.5s
}

.contentsMap__item:hover{
opacity:.7
}

@media screen and (min-width:769px){
.contentsMap__item{
width:24%
}}

.contentsMap__item:nth-child(n+3){
margin-top:8px
}

@media screen and (min-width:769px){
.contentsMap__item:nth-child(n+3){
margin-top:0
}}

@media screen and (min-width:769px){
.contentsMap__item:nth-child(n+5){
margin-top:8px
}}

.contentsMap__item__arw{
position:absolute;
left:0;
top:0;
bottom:0;
margin:auto
}

.contentsMap__item__title{
font-size:14px;
font-weight:400
}

.contentsMap__item__num{
font-size:12px
}

@media screen and (min-width:769px){
.contentsNewPost,.contentsNewPost--shop{
margin-top:100px
}}

.contentsNewPost--shop{
margin-top:0
}

@media screen and (min-width:769px){
.contentsNewPost--shop{
margin-top:0
}}

.contentsNewPost__head,.contentsNewPost__head--details,.contentsNewPost__head--shop{
background:#d8ec8a;
color:#333;
font-size:24px;
font-weight:700;
text-align:center;
padding:10px 0
}

.contentsNewPost__head--details,.contentsNewPost__head--shop{
text-align:left;
font-size:20px;
margin:0 15px;
padding-left:20px;
position:relative
}

@media screen and (min-width:769px){
.contentsNewPost__head--details,.contentsNewPost__head--shop{
font-size:28px;
margin:0;
padding:15px 0 15px 20px
}}

.contentsNewPost__head--details:before,.contentsNewPost__head--shop:before{
content:"";
position:absolute;
width:5px;
height:100%;
left:0;
top:0;
background:#91af1a
}

.contentsNewPost__head--details span,.contentsNewPost__head--shop span{
font-size:16px;
margin-left:5px
}

@media screen and (min-width:769px){
.contentsNewPost__head--details span,.contentsNewPost__head--shop span{
font-size:20px
}}

.contentsNewPost__head--details{
background:none;
text-align:left;
font-size:16px;
padding:7px 0 7px 20px;
margin-top:50px
}

@media screen and (min-width:769px){
.contentsNewPost__head--details{
font-size:20px
}}

.contentsNewPost__inner{
padding:24px 40px
}

@media screen and (min-width:769px){
.contentsNewPost__inner{
padding:0
}}

.contentsNewPost__item{
padding:20px;
border:1px solid #d2cbc5;
border-radius:5px;
-webkit-box-shadow:0 2px 5px rgba(0,0,0,.1);
box-shadow:0 2px 5px rgba(0,0,0,.1)
}

@media screen and (min-width:769px){
.contentsNewPost__item{
margin-top:30px;
position:relative
}}

.contentsNewPost__item:not(:first-child){
margin-top:15px
}

@media screen and (min-width:769px){
.contentsNewPost__item:not(:first-child){
margin-top:20px
}}

@media screen and (min-width:769px){
.contentsNewPost__item__head{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:reverse;
-ms-flex-flow:row-reverse;
flex-flow:row-reverse;
-webkit-box-pack:end;
-ms-flex-pack:end;
justify-content:flex-end;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
position:relative
}

.contentsNewPost__item__head:before{
position:absolute;
content:"";
left:-20px;
top:3px;
height:30px;
width:10px;
background:#d8ec8a
}}

.contentsNewPost__item__tag{
pointer-events: none;
display:inline-block;
background:#d8ec8a;
color:#3c2008;
padding:5px 20px;
border-radius:25px;
-webkit-transition:.5s;
transition:.5s
}

/* ホバー不要
.contentsNewPost__item__tag:hover{
opacity:.7
}
*/

@media screen and (min-width:769px){
.contentsNewPost__item__tag{
margin-left:20px
}}

.contentsNewPost__item__title{
font-size:24px;
font-weight:700;
padding:5px 0;
display:block;
color:#3c2008;
-webkit-transition:.5s;
transition:.5s
}

.contentsNewPost__item__title:hover{
opacity:.7
}

@media screen and (min-width:769px){
.contentsNewPost__item__title{
font-size:24px;
padding:0;
}}

@media screen and (min-width:769px){
.contentsNewPost__item__flex{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
margin-top:15px
}}

.contentsNewPost__item__img{
display:block;
width:100%;
height:170px;
border:1px solid #d2cbc5;
border-radius:5px;
-webkit-transition:.5s;
transition:.5s
}

.contentsNewPost__item__img:hover{
opacity:.7
}

@media screen and (min-width:769px){
.contentsNewPost__item__img{
width:44%;
height:200px
}}

@media screen and (min-width:769px) and (max-width:1024px){
.contentsNewPost__item__img{
height:170px
}}

@media screen and (min-width:500px) and (max-width:768px){
.contentsNewPost__item__img{
height:300px
}}

.contentsNewPost__item__img img{
width:100%;
height:100%;
-o-object-fit:cover;
object-fit:cover;
border-radius:5px;
font-family:"object-fit: cover;"
}

.contentsNewPost__item__desc{
font-size:16px;
margin-top:10px;
display:block;
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-line-clamp:6;
overflow:hidden;
width:100%;
height:10.8em;
line-height:1.8
}

@media screen and (min-width:769px){
.contentsNewPost__item__desc{
width:55%;
margin-top:0;
margin-left:15px;
padding:0;
font-size:16px
}}

@media screen and (min-width:769px) and (max-width:1024px){
.contentsNewPost__item__desc{
height:7.2em;
-webkit-line-clamp:4
}}

.contentsNewPost__item__desc__arddres{
    font-size:16px;
    margin-bottom: 20px;
}

.contentsNewPost__item__desc__arddres span{
    margin-right : 10px;
}

.contentsNewPost__item__btn__inner{
text-align:center;
margin-top:10px
}

@media screen and (min-width:769px){
.contentsNewPost__item__btn__inner{
position:absolute;
right:20px;
bottom:20px
}}

.contentsNewPost__item__btn{
display:inline-block;
background:#faf8f7;
color:#3c2008;
border:1px solid #3c2008;
padding:8px 25px;
position:relative;
font-size:12px;
-webkit-transition:.5s;
transition:.5s
}

.contentsNewPost__item__btn:hover{
background:#45352f;
color:#fff
}

.contentsNewPost__item__btn:before{
content:"→";
position:absolute;
font-size:15px;
right:5px;
top:6px;
bottom:0;
margin:auto
}

.contentsAd{
padding:20px
}

@media screen and (min-width:769px){
.contentsAd{
width:220px;
-webkit-box-ordinal-group:4;
-ms-flex-order:3;
order:3;
padding:20px 0
}}

.contentsAd__item{
width:100%;
cursor:pointer;
-webkit-transition:.5s;
transition:.5s
}

.contentsAd__item:hover{
opacity:.7
}

.contentsAd__item:not(:first-child){
margin-top:20px
}

.contentsRecommendPost{
background:#f7f8f4;
padding:60px 15px 40px
}

@media screen and (min-width:769px){
.contentsRecommendPost{
width:220px;
-webkit-box-ordinal-group:2;
-ms-flex-order:1;
order:1;
padding:60px 5px
}}

.contentsRecommendPost__head{
font-size:24px;
color:#333;
font-weight:700;
text-align:center;
margin-bottom:20px;
position:relative
}

.contentsRecommendPost__head img{
position:absolute;
left:0;
right:0;
top:-25px;
margin:auto
}

.contentsRecommendPost__item{
background:#fff;
padding:10px 10px 20px;
border:1px solid #d2cbc5;
border-radius:5px;
margin-top:8px
}

.contentsRecommendPost__item__tag{
pointer-events: none;
display:inline-block;
background:#d8ec8a;
padding:3px 20px;
border-radius:25px;
font-size:10px;
color:#3c2008;
-webkit-transition:.5s;
transition:.5s
}

.contentsRecommendPost__item__tag:hover{
opacity:.7
}

.contentsRecommendPost__item__title{
display:block;
font-size:14px;
font-weight:700;
margin-top:5px;
color:#3c2008;
-webkit-transition:.5s;
transition:.5s
}

.contentsRecommendPost__item__title:hover{
opacity:.7
}

@media screen and (min-width:769px){
.contentsRecommendPost__item__title{
margin-top:5px
}}

.contentsRecommendPost__item__flex{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
margin-top:8px
}

@media screen and (min-width:769px){
.contentsRecommendPost__item__flex{
display:block
}}

.contentsRecommendPost__item__img{
width:41%;
height:85px;
border:1px solid #ddd;
border-radius:5px;
-webkit-transition:.5s;
transition:.5s
}

.contentsRecommendPost__item__img:hover{
opacity:.7
}

@media screen and (min-width:769px){
.contentsRecommendPost__item__img{
width:100%;
height:130px
}}

@media screen and (min-width:500px) and (max-width:768px){
.contentsRecommendPost__item__img{
height:180px
}}

.contentsRecommendPost__item__img img{
width:100%;
height:100%;
border-radius:5px;
-o-object-fit:cover;
object-fit:cover;
font-family:"object-fit: cover;"
}

.contentsRecommendPost__item__desc{
font-size:10px;
margin-left:12px;
width:54%;
display:block;
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-line-clamp:6;
overflow:hidden;
height:10.8em;
line-height:1.8
}

@media screen and (min-width:769px){
.contentsRecommendPost__item__desc{
margin-left:0;
margin-top:10px;
width:100%
}}

.contentsRecommendPost__item__desc__arddres{
    font-size:16px;
    margin-bottom: 20px;
}

.contentsRecommendPost__item__desc__arddres span{
    margin-right : 10px;
}

.search_input_breadcrumb{
display:flex;
flex-flow: column;
}

.contentsBreadcrumb{
font-size:12px;
margin:10px 20px
}

@media screen and (min-width:769px){
.contentsBreadcrumb{
font-size:14px;
margin:10px 0
}}

.contentsBreadcrumb a{
color:#333;
-webkit-transition:.5s;
transition:.5s
}

.contentsBreadcrumb a:hover{
opacity:.7
}

.contentsBreadcrumb span{
margin:0 5px
}

.contentsDetails{
padding:15px
}

@media screen and (min-width:769px){
.contentsDetails{
padding:0
}}

.contentsDetails__tag{
white-space: nowrap;
display:inline-block;
padding:5px 15px;
background:#d8ec8a;
font-size:12px;
color:#3c2008;
border-radius:25px;
-webkit-transition:.5s;
transition:.5s
}



.contentsDetails__tag__osusume{
animation: flash 1s linear infinite;
white-space: nowrap;
display:inline-block;
padding:5px 15px;
background:#d8ec8a;
font-size:12px;
color:#3c2008;
border-radius:25px;
-webkit-transition:.5s;
transition:.5s
}

@keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


.contentsDetails__title{
font-size:20px;
font-weight:700;
color:#333;
margin-top:5px
}

@media screen and (min-width:769px){
.contentsDetails__title{
margin-top:0;
margin-right:15px;
font-size:28px
}}

.contentsDetails__desc{
font-size:14px;
margin-top:15px;
white-space: pre-wrap
}

@media screen and (min-width:769px){
.contentsDetails__desc{
font-size:16px;
white-space: pre-wrap
}}

@media screen and (min-width:769px){
.contentsDetails__flex{
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
-webkit-box-orient:horizontal;
-webkit-box-direction:reverse;
-ms-flex-direction:row-reverse;
flex-direction:row-reverse;
-webkit-box-pack:end;
-ms-flex-pack:end;
justify-content:flex-end;
}}

@media screen and (min-width:769px){
.contentsDetails__flex,.contentsDetails__img{
display:-webkit-box;
display:-ms-flexbox;
display:flex
}

.contentsDetails__img{
-webkit-box-pack:justify;
-ms-flex-pack:justify;
justify-content:space-between
}}

.contentsDetails__img img{
width:100%;
height:230px;
margin-top:15px;
-o-object-fit:cover;
object-fit:cover;
font-family:"object-fit: cover;"
}

@media screen and (min-width:769px){
.contentsDetails__img img{
width:48%;
margin-top:25px
}}

@media screen and (min-width:500px) and (max-width:768px){
.contentsDetails__img img{
height:400px
}}

.contentsDetails__head{
margin-top:40px;
background:#d8ec8a;
padding:8px 10px;
font-size:16px;
font-weight:700;
color:#333
}

@media screen and (min-width:769px){
.contentsDetails__head{
font-size:20px;
padding:12px 20px
}}

.contentsDetails__table{
margin-top:20px;
width:100%
}

.contentsDetails__table td,.contentsDetails__table th{
width:100%;
display:block;
font-size:14px
}

@media screen and (min-width:769px){
.contentsDetails__table td,.contentsDetails__table th{
width:auto;
display:table-cell;
font-size:16px;
border-top:1px solid #c7c7c7
}}

@media screen and (min-width:769px){
.contentsDetails__table td:last-child,.contentsDetails__table th:last-child{
border-bottom:1px solid #c7c7c7
}}

.contentsDetails__table th{
background:#f3f5e9;
padding:5px 0;
font-weight:400
}

@media screen and (min-width:769px){
.contentsDetails__table th{
width:23%;
padding:10px 0;
border-bottom:1px solid #c7c7c7
}}

.contentsDetails__table td{
padding:9px;
border-bottom:1px solid #c7c7c7
}

@media screen and (min-width:769px){
.contentsDetails__table td{
border-bottom:none;
padding-left:20px

}}


























/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}




/*検索フォーム全体*/
.search_box_field{
position:relative;/*フォームの相対位置*/	
max-width:270px;/*フォームのサイズ*/
margin-bottom:15px;/*フォームの下に余白*/	 	
}
/*検索ボックス*/
.search_box{
position:relative;/*フォームの相対位置*/	
left:0;
top:0; 	
outline:0;/*クリック時の青い枠線消す*/	
height:50px;/*検索ボックスの高さ*/	
padding:0 10px;/*テキスト位置調整*/	 
border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
background:#eee;/*検索ボックスの背景カラー*/		
}
/*検索ボタン*/
.search_box_submit{
width:70px;/*検索ボタンの横幅*/ 
height:50px;/*検索ボタンの縦幅*/ 
position:relative;/*フォームの相対位置*/	
left:270px;/*検索ボタンの位置調整*/  
top:0;
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
background:#7fbfff;/*検索ボタンの背景カラー*/ 
border:none;/*検索ボタンの枠線を消す*/ 
color:#fff;/*検索ボタンのテキストカラー*/ 
font-weight:bold;/*検索ボタンのテキスト太字*/ 
font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
/*検索ボタンマウスオーバー時*/
.search_box_submit:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}







/*ヘッダーまわりはサイトに合わせて調整してください*/
@media screen and (min-width:769px){
#nav-drawer{
display:none
}}



#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

