/*検索ボックス*/
/* C:\Users\masaki\kenma_search_app\app\views\home\top.html.erb */
/* C:\Users\masaki\kenma_search_app\app\views\home\search.html.erb: */

.search_input_form{
	padding: 1em;
}

dl.search2{
	position:relative;
	float: left;
}
dl.search2 dt{
	margin-right:105px;
	padding:8px;
	background-color:#fff;
	border:1px solid #aaa;
}
dl.search2 dt input{
	width:100%;
	height:24px;
	line-height:24px;
	background:none;
	border:none;
}
dl.search2 dd{
	position:absolute;
	top:0;
	right:0;
}
dl.search2 dd button{
	display:block;
	width:100px;
	height:42px;
	color:#fff;
	line-height:40px;
	text-align:center;
	background-color:#f66;
	border:1px solid #c66;
}


/*非営利目的で活動されている団体・個人の方は・・・*/
/* C:\Users\masaki\kenma_search_app\app\views\home\recruit.html.erb: */

.plan_box {
  padding: 3%;
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
}


/* recruit料金プラン表 */
/* C:\Users\masaki\kenma_search_app\app\views\home\recruit.html.erb: */
.flexbox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flexbox table {
  width: 300px;
  border-bottom: 1px solid #ddd;
  width: 300px;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch;
}
.flexbox th, .flexbox td {
  padding: 15px;
  text-align: center;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.flexbox tr:nth-child(even)> .flexbox td,
.flexbox tr:nth-child(even)> .flexbox th {
  background-color: #efefef;
}
.flexbox th,
.plan-price {
  color: #fff;
}
.plan-price {
  font-size: 2.5rem;
  border-top: 1px solid rgba(255,255,255,.2);
  padding: 25px 0;
}
.plan-price span {
  font-size: 1rem;
}
.plan-item {
	text-align: left;
	padding-left: 20%;
}

/* Background colour */
.plan-free th,
.plan-free .plan-price {
  background: linear-gradient(-90deg, #009ADB, #00DB9A);
}
.plan-premium th,
.plan-premium .plan-price {
  background: linear-gradient(-90deg, #EE52FF, #009ADB);
}
/* 
BUTTON
================================================ */
.btn{
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  background: #6fc173;
  border-radius: 5px;
  box-shadow: 0 3px #449f49 ;
  position: relative;
  display: inline-block;
  top: -2px;
  padding: 15px;
  width: 80%;
  text-align: center;
  margin: 10px 0;
}
.btn:hover {
  box-shadow: 0 1px #449f49;
  top: 1px;
}

/* 
LARGE DISPLAY
================================================ */
@media ( min-width : 700px ){
  .flexbox {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .plan-table {
    margin-left: 3%;
  }
  .plan-table:first-of-type {
    margin-left: 0;
  }
}


/*各会員登録・問合せフォーム*/
.form-style-2{
	max-width: 500px;
	margin: 0 auto;
	padding: 100px 12px 100px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 130px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:70px;
	width: 48%;
}

.form-style-2 input[type=submit]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}

.terms_agree{
	width: 80%;
	margin: 30px;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 p{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 p:focus{
	border: 1px solid #0C0;
}


/*必須アイコンCSS*/

label {
  display: block;
}

label.required:after {
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #C44;
  content: "必須";
}

input[type="checkbox"]:checked + .p1111{
  display:block;
}


/*advテーブル(料金表)*/
.adv_content{
	width: 90%;
	margin: 0 auto;
}

@media screen and (min-width:600px) { 
    /*　画面サイズが900pxからはここを読み込む　*/
.adv_content{
  width: 60%;
  margin: 0 auto;
}}

.adv_content_title_a{
	color: blue;
	text-decoration:underline;
}

.adv_content_table table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
  margin-top: 10px;
}

.adv_content_table table .adv_content_table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.adv_content_table table .adv_content_table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

.adv_content_table table .adv_content_table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

.adv_content_table table .adv_content_table td:last-child{
  border-right: 1px solid #a8b7c5;
}

.adv_content_table table .adv_content_table tr:last-child .adv_content_table td:first-child {
  border-radius: 0 0 0 5px;
}

.adv_content_table table .adv_content_table tr:last-child .adv_content_table td:last-child {
  border-radius: 0 0 5px 0;
}


/*送信完了画面*/
/* C:\Users\masaki\kenma_search_app\app\views\home\send_completely.html.erb */
.send_completely{
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}

@media screen and (min-width:600px) { 
    /*　画面サイズが900pxからはここを読み込む　*/
.send_completely{
  width: 60%;
  margin: 0 auto;
  padding: 30px;
}}

.send_completely h2{
	text-align: center;
	padding: 10px;
}