.contentsDetails__table{
margin-top:20px;
width:100%
}

.contentsDetails__table td,.contentsDetails__table th{
width:100%;
display:block;
font-size:14px
}

@media screen and (min-width:769px){
.contentsDetails__table td,.contentsDetails__table th{
width:auto;
display:table-cell;
font-size:16px;
border-top:1px solid #c7c7c7
}}

@media screen and (min-width:769px){
.contentsDetails__table td:last-child,.contentsDetails__table th:last-child{
border-bottom:1px solid #c7c7c7
}}

.contentsDetails__table th{
text-align: center;
background:#f3f5e9;
padding:5px 5px;
font-weight:400
}

@media screen and (min-width:769px){
.contentsDetails__table th{
text-align: center;
width:23%;
padding:10px 10px;
border-bottom:1px solid #c7c7c7
}}

.contentsDetails__table td{
padding:9px;
border-bottom:1px solid #c7c7c7
}

@media screen and (min-width:769px){
.contentsDetails__table td{
border-bottom:none;
padding-left:20px

}}



.edit_form{
	position:relative;
	padding:10px 10px 10px 120px;
	min-height:80px;
	border:solid 1px #E6FFE9;
}
.edit_form p{
	display: inline-block;
}

.edit_link{
	display: inline-block;
}


.edit_form_title{
	position:absolute;
	left:10px;
	top:10px;
	border:solid 1px #808080;
}










@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.user_login_form {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}
.user_login_form_error {
	color: red;
}
/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}